<% if @plans_to_coach.present? %>
  <% if @plans_to_coach.errors.any? %>
    <% @plans_to_coach.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new plans to coach
</h1>


<hr>

<form action="/create_plans_to_coach" method="post">

  <div class="form-group">
    <label for="plan_id">
      Plan
    </label>

    <%= select_tag(:plan_id, options_from_collection_for_select(Plan.all, :id, :plan_name, @plans_to_coach.plan_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="coach_id">
      Coach
    </label>

    <%= select_tag(:coach_id, options_from_collection_for_select(Coach.all, :id, :email, @plans_to_coach.coach_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create plans to coach
  </button>
</form>

<hr>

<a href="/plans_to_coaches">
  Go back
</a>
