<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Plans
  </div>

  <ul class="list-group list-group-flush">
    <% @coach.plans.each do |plan| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/plans/<%= plan.id %>">
          <%= plan.plan_name %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
