<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Coaches
  </div>

  <ul class="list-group list-group-flush">
    <% @plan.coaches.each do |coach| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/coaches/<%= coach.id %>">
          <%= coach.email %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
