<form action="/create_plans_to_coach_from_plan" method="post">

  <input type="hidden" name="plan_id" value="<%= @plan.id %>">

  <div class="form-group">
    <label for="coach_id">
      Coach
    </label>

    <%= select_tag(:coach_id, options_from_collection_for_select(Coach.all, :id, :email, @plans_to_coach.coach_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create plans to coach
  </button>
</form>
