<!-- Form plans_to_coach start -->
<form action="/create_plans_to_coach_from_plan" method="post">
<!-- Form plans_to_coach end -->

  <!-- Label and input for plan_id start -->
  <!-- Input for plan_id start -->
  <input type="hidden" name="plan_id" value="<%= @plan.id %>">
  <!-- Input for plan_id end -->

  <!-- Label and input for coach_id start -->
  <div class="form-group">
    <label for="coach_id">
      Coach
    </label>

    <!-- Input for coach_id start -->
    <%= select_tag(:coach_id, options_from_collection_for_select(Coach.all, :id, :email, @plans_to_coach.coach_id), :class => "form-control") %>
    <!-- Input for coach_id end -->
  </div>
  <!-- Label and input for coach_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create plans to coach
  </button>
</form>
