<form action="/create_goal_from_plan" method="post">

  <div class="form-group">
    <label for="goal_text">
      Goal text
    </label>

    <input type="text" id="goal_text" name="goal_text" class="form-control" value="<%= @goal.goal_text %>">
  </div>

  <input type="hidden" name="plan_id" value="<%= @plan.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create goal
  </button>
</form>
