<h1>
  Add a new action step
</h1>


<hr>

<!-- Form action_step start -->
<form action="/create_action_step" method="post">
<!-- Form action_step end -->

  <!-- Label and input for action_step start -->
  <div class="form-group">
    <label for="action_step">
      Action step
    </label>

    <!-- Input for action_step start -->
    <input type="text" id="action_step" name="action_step" class="form-control">
    <!-- Input for action_step end -->
  </div>
  <!-- Label and input for action_step end -->

  <!-- Label and input for target_date start -->
  <div class="form-group">
    <label for="target_date">
      Target date
    </label>

    <!-- Input for target_date start -->
    <input type="text" id="target_date" name="target_date" class="form-control">
    <!-- Input for target_date end -->
  </div>
  <!-- Label and input for target_date end -->

  <!-- Label and input for lead_person start -->
  <div class="form-group">
    <label for="lead_person">
      Lead person
    </label>

    <!-- Input for lead_person start -->
    <input type="text" id="lead_person" name="lead_person" class="form-control">
    <!-- Input for lead_person end -->
  </div>
  <!-- Label and input for lead_person end -->

  <!-- Label and input for resources_needed start -->
  <div class="form-group">
    <label for="resources_needed">
      Resources needed
    </label>

    <!-- Input for resources_needed start -->
    <input type="text" id="resources_needed" name="resources_needed" class="form-control">
    <!-- Input for resources_needed end -->
  </div>
  <!-- Label and input for resources_needed end -->

  <!-- Label and input for specifics start -->
  <div class="form-group">
    <label for="specifics">
      Specifics
    </label>

    <!-- Input for specifics start -->
    <input type="text" id="specifics" name="specifics" class="form-control">
    <!-- Input for specifics end -->
  </div>
  <!-- Label and input for specifics end -->

  <!-- Label and input for goal_id start -->
  <div class="form-group">
    <label for="goal_id">
      Goal
    </label>

    <!-- Input for goal_id start -->
    <input type="text" id="goal_id" name="goal_id" class="form-control">
    <!-- Input for goal_id end -->
  </div>
  <!-- Label and input for goal_id end -->

  <!-- Label and input for measures_of_success start -->
  <div class="form-group">
    <label for="measures_of_success">
      Measures of success
    </label>

    <!-- Input for measures_of_success start -->
    <input type="text" id="measures_of_success" name="measures_of_success" class="form-control">
    <!-- Input for measures_of_success end -->
  </div>
  <!-- Label and input for measures_of_success end -->

  <button class="btn btn-block btn-outline-secondary">
    Create action step
  </button>
</form>

<hr>

<a href="/action_steps">
  Go back
</a>
